.course-title {
    color: #4A4A4A;
    font-size: 25px;
}


.course-description {
    color: #777777;
    font-size: 16px;
}

.price {
    color: #289BDE;
}

.ready-height {
    height: 300px;
    /* margin-left: 100px; */
}

.ready-description {
    color: #F4F4F4;
    font-size: 16px;
}